/* TODO: migrate to Material-UI styles */

.login-card {
    margin: 100px auto;
    text-align: center;
    max-width: 400px;
}

.login-input {
    width: 40ch;
    margin: 10px !important;
}

.login-failed-alert {
    text-align: left;
}

.button-progress-container {
    position: relative;
}

.button-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
}

body {
    padding: 0px 20px;
}

.table-button {
    width: 50px;
}